@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*          (START)          */
/*****************************/

$msgbox-area-width-l: 480px;

$msgbox-area-y-pos: 15px;
$msgbox-area-x-s: 20px;
$msgbox-area-x-m: 80px;
$msgbox-area-x-l: 15px;

$msgbox-box-color: #ffffff;
$msgbox-box-background-color: rgba(#000000, 0.7);
$msgbox-box-padding: 1.5rem;
$msgbox-box-margin: 1rem;
$msgbox-box-border-radius: 12px;
$msgbox-box-box-shadow: 0 10px 15px rgba(#000000, 0.65);
$msgbox-box-backdrop-filter: blur(4px);
$msgbox-box-transition-time: 256ms;

$msgbox-close-color: #ffffff;
$msgbox-close-margin: 10px;
$msgbox-close-transition-time: 64ms;

$msgbox-close-hover-color: #efefef;
$msgbox-close-hover-text-shadow: 0 0 4px #ffffff;

.msgbox-area {
  font-size: inherit;
  max-height: 100%;
  position: fixed;
  bottom: $msgbox-area-y-pos;
  left: $msgbox-area-x-s;
  right: $msgbox-area-x-s;
}

.msgbox-box {
  font-size: inherit;
  color: $msgbox-box-color;
  background-color: $msgbox-box-background-color;
  margin: 0 0 $msgbox-box-margin;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: $msgbox-box-border-radius;
  box-shadow: $msgbox-box-box-shadow;
  backdrop-filter: $msgbox-box-backdrop-filter;
  transition: opacity $msgbox-box-transition-time ease-in;
  &.msgbox-box-hide {
    opacity: 0;
  }
  &:last-child {
    margin: 0;
  }
}

.msgbox-content {
  font-size: inherit;
  padding: $msgbox-box-padding;
  padding-bottom: $msgbox-box-padding / 2;
  flex-shrink: 1;
}

.msgbox-command {
  padding: $msgbox-box-padding;
  padding-top: $msgbox-box-padding / 2;
  display: flex;
}

.msgbox-close {
  color: $msgbox-close-color;
  font-size: inherit;
  text-decoration: none;
  margin: 0 $msgbox-close-margin;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  transition:
    color $msgbox-close-transition-time ease-out,
    text-shadow $msgbox-close-transition-time ease-out;
  &:hover {
    color: $msgbox-close-hover-color;
    text-shadow: $msgbox-close-hover-text-shadow;
  }
  &:first-child {
    margin-left: auto;
  }
  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .msgbox-area {
    left: $msgbox-area-x-m;
    right: $msgbox-area-x-m;
  }
}

@media (min-width: 768px) {
  .msgbox-area {
    width: $msgbox-area-width-l;
    height: 0;
    top: $msgbox-area-y-pos;
    left: auto;
    right: $msgbox-area-x-l;
  }
}

/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*           (END)           */
/*****************************/

$button-color: #387cdc;

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #e4e4e4;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msgbox-area {
  font-size: 16px;
}

.msgbox-message-container {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(#000000, 0.5);
  h1, h3 {
    font-weight: normal;
    padding: 0.5rem 1rem;
    margin: 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  p {
    padding: 0.5rem 1rem;
    margin: 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.msgbox-message-button {
  font-size: 18px;
  font-family: inherit;
  color: white;
  background-color: $button-color;
  width: 250px;
  border: solid 2px darken($button-color, 10%);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0.4rem darken($button-color, 10%);
  transition:
    background-color 64ms ease-out,
    box-shadow 64ms ease-out,
    transform 64ms ease-out;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($button-color, 5%);
  }
  &:active {
    background-color: darken($button-color, 5%);
    box-shadow: 0 0 darken($button-color, 10%);
    transform: translateY(0.4rem);
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.alert {
      position: fixed;
      top: 50%;
      left: 5%;
      right: 5%;
      width: 100%;
      background-color: #ffffff;
      color: #000000;
      padding: 10px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 9999;
    }
    
.alert-dismiss {
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 2rem;
}

nav a {
    color: #fff;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Hero section styles */
.hero {
    background-image: url('https://irisoffensivesecurity.github.io/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 600px;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* Services section styles */
.services {
    max-width: 1200px;
    margin: 4rem auto;
    text-align: center;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.service-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.service {
    flex-basis: 30%;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.service:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.service i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.service p {
    font-size: 1rem;
}

/* News section styles */
.news {
    background-color: #f2f2f2;
    max-width: 1200px;
    margin: 4rem auto;
    padding: 2rem;
    text-align: center;
}
.news h2 {
    font-size: 2..5rem;
margin-bottom: 2rem;
}

.news-cards {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 2rem;
}

.news-card {
flex-basis: 30%;
margin-bottom: 2rem;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
transition: all 0.3s ease;
}

.news-card:hover {
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.news-card img {
width: 100%;
height: 200px;
object-fit: cover;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.news-card h3 {
font-size: 1.5rem;
margin: 1rem;
}

.news-card p {
font-size: 1rem;
margin: 1rem;
}

/* Footer styles */
footer {
background-color: #333;
color: #fff;
padding: 2rem 1rem;
}

.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
}

.footer-logo {
font-size: 1.5rem;
font-weight: bold;
}

.footer-social {
display: flex;
}

.footer-social li {
margin-left: 1rem;
}

.footer-social li a {
color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
nav ul {
display: none;
flex-direction: column;
align-items: center;
position: absolute;
top: 5rem;
left: 0;
width: 100%;
background-color: #333;
padding: 1rem;
}
nav li {
    margin: 1rem 0;
}

.burger {
    display: block;
}

.news-card {
    flex-basis: 100%;
}
	}
